.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan-2 .fa {
color: #4dd0e1;
}

.footer-pos {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  video {
	width:300px;
	max-width: 100%;
	background: black;
	border: 1px solid #999999;
	display: inline;
	margin: 0px auto 3px;
	padding: 6px;
}
ul{
    border:1px solid #000;
    margin:0; 
    padding:0;
}

li{
    margin:0;
    padding:0;
}
