*{font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}


#sendBtn{
    width: 167px;
    height: 70px;
    background: rgba(112, 217, 213, 0.5);
    border-radius: 30px;    
}